*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo h2{
    color: white;
    font-size: 35px;
    font-family: 'Cinzel', serif;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#d4af37;
}
.buttons button{
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.buttons button:first-child{
    background: transparent;
    color:  white;
    border: 2px solid white;
}

.buttons button:last-child{
    background: gold;
    color: black;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.55);
}
.content{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    text-align: center;
    color: white;

    z-index: 2;
}
.content h1{
    font-size: 65px;
    margin-bottom: 20px;
    font-family: 'Cinzel', serif;
    text-align: center;
}
.content p{
    font-size: 20px;
    margin-bottom: 30px;
}
.content button{
    padding:15px 35px;
    border-radius:30px;
    cursor:pointer;
    font-size:17px;
}
.content button:first-child{
    background:#d4af37;
    color:white;
    border:none;
}

.content button:last-child{
    background:transparent;
    color:white;
    border:2px solid white;
}

.content button:hover{
    transform:translateY(-3px);
    transition:0.3s;
}

 